body {
  margin: 0;
  padding: 0;
  font-family: 'Courier', sans-serif;
  background-color: #FCFFF5;
  color: #193441;
}

.scoreboard {
  float:left;
  text-align: left;
  font-size: 1em;
  margin-left: 2em;
}
.scorelist {
  list-style-type: none;
  -webkit-padding-start: 0;
}

.scorelist-item {
  width: 100%;
  padding-top: 0.25em;
}

.scorelist-item span {
  float: right;
}


.center {
  width: 200px;
  margin: 0 auto;
}

.app {
  max-width: 960px;
  margin: 0 auto;
}

.game-container {
  min-width: 300px;
  float: left;
  margin-left: 2em;
  margin-right: 2em;
}

.game {
  text-align: center;
  border: 1px solid #193441;
  border-radius: 3px;
}

.nextgame h2 {
  margin-bottom: 0;
  text-align: center;

}
.ettkrysstva {
  text-align: center;
}
.prediction {
  width: 33%;
  display: inline-block;
  vertical-align: top;
}
.bettare {
  padding: 0;
}
.bettare-item {
  padding: 0;
  font-size: 0.75em;
  opacity: 0.7;
  list-style-type: none;
}

.current-result {

}

.alla-matcher {
  clear: both;
  float: left;
  width: 400px;
  max-width: 100vw;
  display: block;
  overflow: auto;
}

.alla-matcher-rubrik {
  margin-top: 3em;
  margin-left: 1em;
}

@media only screen and (max-width: 600px) {
  .app {
    width: 84vw;
    padding: 8vw;
  }

  .game-container {
    width: 84vw;
    margin: 0 auto;
  }

  .game {
    margin: 0 auto;
    width: 83vw;
    text-align: center;
  }

  .scoreboard {
    margin: 0 auto;
  }
  
  .alla-matcher {
    width: 84vw;
  }
  .alla-matcher-rubrik {
    margin-left: 0;
    margin-right: 0;
    width: 84vw;
  }

}

